<script setup lang="ts">
import { reactive, computed } from "vue";

const state = reactive({
  result: 0,
});

const result = computed(function () {
  return parseFloat(state.num1) / ((parseFloat(state.num2) / 100) ^ 2);
});

const bmiResult = computed(function () {
  if (result.value < 18.5) {
    return "น้ำหนักน้อย / ผอม";
  } else if (result.value > 18.5 && result.value < 24.9) {
    return "ปกติ (สุขภาพดี)";
  } else if (result.value > 25 && result.value < 29.9) {
    return "ท้วม / โรคอ้วนระดับ 2";
  } else if (result.value > 30) {
    return "	อ้วน / โรคอ้วนระดับ 3";
  } else {
    return "กรุณาใส่ข้อมูลก่อน";
  }
});
</script>

<template>
  <div
    style="
      border-radius: 5px;
      background-color: #f2f1f6;
      padding: 10px;
      color: black;
    "
  >
    <h3>BMI CALCULATOR</h3>
    การหาค่าดัชนีมวลกาย (Body Mass Index : BMI)
    คือเป็นมาตรการที่ใช้ประเมินภาวะอ้วนและผอมในผู้ใหญ่ ตั้งแต่อายุ 20 ปีขึ้นไป
    สามารถทำได้โดยการชั่งน้ำหนักตัวเป็นกิโลกรัม และวัดส่วนสูงเป็นเซนติเมตร
    แล้วนำมาหาดัชมีมวลกาย โดยใช้โปรแกรมวัดค่าความอ้วนข้างต้น
    <br />
    <br />
    <div style="color: black">
      <form action="/action_page.php">
        <label for="fname">ใส่น้ำหนักของคุณ (KG)</label>
        <input
          type="text"
          id="fname"
          name="firstname"
          v-model="state.num1"
          placeholder="เช่น 76.55"
        />

        <label for="lname">ส่วนสูงของคุณ (cm.)</label>
        <input
          type="text"
          id="lname"
          name="lastname"
          placeholder=" เช่น 188"
          v-model="state.num2"
        />

        <label value="คำนวน BMI 🍺" />
        <h1>BMI ของคุณคือ <br />{{ result.toFixed(2) }}</h1>
        {{ bmiResult }}
      </form>
    </div>
    <div
      style="
        border-radius: 5px;
        background-color: #f2f1f6;
        padding: 10px;
        color: black;
      "
    ></div>
    <div>
      <table id="customers">
        <tr>
          <th>BMI</th>
          <th>อยู่ในเกณท์</th>
        </tr>
        <tr>
          <td>น้อยกว่า 18.50</td>
          <td>น้ำหนักน้อย / ผอม</td>
        </tr>
        <tr>
          <td>ระหว่าง 23 - 24.90</td>
          <td>ปกติ (สุขภาพดี)</td>
        </tr>
        <tr>
          <td>ระหว่าง 25 - 29.90</td>
          <td>ท้วม / โรคอ้วนระดับ 1</td>
        </tr>
        <tr>
          <td>ระหว่าง 25 - 29.90</td>
          <td>อ้วน / โรคอ้วนระดับ 2</td>
        </tr>
        <tr>
          <td>มากกว่า 30</td>
          <td>อ้วน / โรคอ้วนระดับ 3</td>
        </tr>
      </table>
    </div>
  </div>
</template>
<style>
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

h3 {
  color: black;
  text-shadow: 2px 1px;
  font-size: 40px;
}
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}
</style>
