<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import { ref } from "vue";
import CalComponent from "./components/CalComponent.vue";
</script>

<template>
  <center>
    <div>
      <center><CalComponent></CalComponent></center>
    </div>
  </center>
</template>

<style scoped></style>
